html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom should equal footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here and update margin-bottom for body*/
    height: 60px;
    /* Set the footer background-color to #222222 if you want to use same color as the navbar-inverse */
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}